# Core AI Framework
langchain
langchain-core
langchain-community
langchain-google-genai

# Tooling & Scrapy
tavily-python
beautifulsoup4
requests
lxml

# Orchestration & Environment
langgraph
python-dotenv
fastapi
uvicorn
streamlit
streamlit-webrtc
python-multipart
redis
asyncpg
sqlalchemy
chromadb
qdrant-client
openai
elevenlabs
cartesia
whisper
torchvision
playwright
unstructured

# Utilities
pydantic
langchain-mistralai